#container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    flex-flow: row wrap;
    max-width: 864px;
    max-height: 864px;

}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}